table {
  width:70%;
  align:center;
}
th, td {
  padding-top: 10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
}
tr:hover {background-color: coral;}
iframe {
  width: 100% !important;
  height: 100%!important;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
body {background-color: rgb(66, 190, 235);}
