table {
  width:100%;
}
th, td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
tr:hover {background-color: coral;}
iframe {
  width: 100% !important;
  height: auto !important;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
body {background-color: rgb(66, 190, 235);}
