table {
  border: 1px solid;
  table-layout: auto;
  width: 180px;
}
th, td {
  padding: 15px;
}
iframe {
  width: 100% !important;
  height: auto !important;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
body {background-color: coral;}
